body {
    background-color: gray;
}

div {
    color: white;
}

.corojo {
    color: red;
}

.letra {
    font-family: monospace;
}

#grande {
    font-size: 20px;
    font-weight: bold;
}

.read,
unread {
    color: blue;
    background-color: blueviolet;
}

.cabecera.negra {
    color: black;
    font-weight: bold;
}